

html {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    
  }

  :root{
    --primary: #0065FC;
    --secondary: #DEEBFF;
    --bg-dark: #D9D9D9;
    --bg-light: #f2f2f2;

}

body {
 /*display: flex; 
 align-items: center;
 flex-direction: column;*/
 .header-logo{
    width: 50px;  
      
   }
}
 header{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
 }

 header nav ul {
    list-style: none;  
    flex-direction: row;
   /* align-items: flex-end;*/
    flex-wrap: nowrap;
    color: black;
    margin: auto;
 }

 /*.nav-list a {

 }*/
 .nav-list a:hover{
    border-top:2px solid var(--primary)

 }



img {
    
    object-fit: contain;
    border-radius: 20%; /* Rend l'image circulaire */ 
    width: 200px; /* Définit la largeur de l'image */ 
    height: 150px;
   }



   .destination-input-text{
    border: 1px solide var(--bg-light);
      }

.destination-input-submit{
    background-color:var(--primary);
    padding: 10px;
    color: white;
    border-radius: 0 5px 5px 0;
}

.hebergements-and-populaires{
    flex-direction: row;
    align-items: flex-end;
}

.filters-section{
    
    display: flex;
    align-items: center;
    flex-direction: row;
    /*align-items: flex-end;*/

}

.filter{
    margin-left: 8px;
    display: flex;
}


.icon-title-filter i{
    color: var(--primary)
}


.filter-submit i{
    border-radius: 120%;
    background-color:var(--primary);
}

.article{
    margin-top: 8px;
}

.fa-regular.fa-circle {
color: var(--bg-dark)
}
.fa-solid{
    color: var(--primary)
}


.hebergements{
   background-color: var(--bg-dark);   
}

.hebergements-cards {
     display: flex;
     flex-direction: row;
     /*border-radius: 2px solid var(--bg-dark);*/
}

.hebergements-cards a{
    border-radius: 2px solid var(--bg-dark);
    width: 20%;
}